includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./phpstan-baseline.neon

services:
    errorFormatter.tst:
        class: Utils\StaticAnalyse\ErrorFormatter\GithubErrorFormatter

#rules:
#    - Utils\StaticAnalyse\Rule\MyRule

parameters:
    tmpDir: /tmp/phpstan
    paths:
        - app/
    # Level 9 is the highest level
    level: 5

    errorFormat: tst
    parallel:
        maximumNumberOfProcesses: 2

    noUnnecessaryCollectionCall: true
    checkMissingIterableValueType: false
